<div class="flux-editor-embed">
  <div class="flux-editor-embed-preview">
    <div class="flux-editor-embed-mask"></div>
    <div class="flux-editor-embed-code"></div>
  </div>
  <div class="flux-editor-embed-form form-group hide">
    <label class="sr-only" for="flux-editor-embed-src">Embed code</label>
    <textarea
    placeholder="Paste your embed code here"
    rows="4"
    class="form-control flux-editor-embed-src"
    placeholder=""></textarea>
    <div class="flux-editor-embed-actions">
      <a href="#" class="flux-editor-embed-action flux-editor-embed-action-hide"></a>
      <a href="#" class="flux-editor-embed-action flux-editor-embed-action-refresh"></a>
    </div>
  </div>
</div>
