<figure class="flux-image">
  <div class="flux-editor-image-container">
    <img src="" alt="" class="img-responsive">
    <a href="#" target="_blank" class="flux-editor-image-link-display hide"></a>
  </div>
  <figcaption></figcaption>
  <div class="form-group flux-editor-image-link hide">
    <input type="text" placeholder="" class="form-control flux-editor-image-link-value">
    <a href="#" class="flux-editor-image-link-confirm"></a>
    <a href="#" class="flux-editor-image-link-cancel"></a>
  </div>
</figure>
