<div class="flux-editor-twitter-form">
  <div class="form-group">
    <label class="sr-only" for="flux-editor-twitter-src">Twitter short url</label>
    <input
    type="text"
    class="form-control flux-editor-twitter-src"
    placeholder="">
    <a href="#" class="flux-editor-twitter-cancel"></a>
  </div>
</div>
