<figure class="flux-video">
  <div class="embed-responsive">
    <iframe
    class="embed-responsive-item"
    src=""
    width="100%"
    height="100%"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <figcaption></figcaption>
</figure>
