<div class="flux-editor-video-form">
  <div class="form-group">
    <label class="sr-only" for="flux-editor-video-src">Video short url</label>
    <input
    type="text"
    class="form-control flux-editor-video-src"
    placeholder="">
    <a href="#" class="flux-editor-video-cancel"></a>
  </div>
</div>
