<figure class="flux-editor-video">
  <div class="embed-responsive">
    <div class="flux-editor-video-mask"></div>
    <iframe
    class="embed-responsive-item"
    src=""
    width="100%"
    height="100%"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <figcaption placeholder="Add caption"></figcaption>
</figure>
