.flux-editor {}

.flux-editor-plus {
  text-align: center;
  overflow: hidden;
  margin: 10px 0 10px 0;
}

.flux-editor-plus-button {
  display: inline-block;
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23aaa" d="M1344 960v-128q0-26-19-45t-45-19h-256v-256q0-26-19-45t-45-19h-128q-26 0-45 19t-19 45v256h-256q-26 0-45 19t-19 45v128q0 26 19 45t45 19h256v256q0 26 19 45t45 19h128q26 0 45-19t19-45v-256h256q26 0 45-19t19-45zm320-64q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  min-height: 18px;
}

.flux-editor-plus-button:focus {
  outline: 0;
}
