.flux-editor-uneditable {
  position: relative;
}

.flux-editor-uneditable-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.flux-editor-uneditable-mask:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
