.flux-editor-text[contenteditable='true']:hover {
  outline: 1px solid #eee;
}

.flux-editor {
  h2, h3 {
    margin: 0 0 10px;
    padding: 0 0 10px;
  }
}

.flux-editor-text-tooltip-item {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23777" d="M1534 189v73q0 29-18.5 61t-42.5 32q-50 0-54 1-26 6-32 31-3 11-3 64v1152q0 25-18 43t-43 18h-108q-25 0-43-18t-18-43v-1218h-143v1218q0 25-17.5 43t-43.5 18h-108q-26 0-43.5-18t-17.5-43v-496q-147-12-245-59-126-58-192-179-64-117-64-259 0-166 88-286 88-118 209-159 111-37 417-37h479q25 0 43 18t18 43z"/></svg>');
}


.flux-editor-text.deletable {
  border: 1px solid red;
}