// Inspiration http://tympanus.net/Development/TooltipStylesInspiration/index.html
// SVG Icons https://github.com/encharm/Font-Awesome-SVG-PNG
#flux-editor-tooltip {
  position: absolute;
  top: 20px;
  left: 20px;
  visibility: hidden;
  display: block;
  z-index: 2;

  .flux-editor-tooltip-box {
    overflow: hidden;
    display: block;
  }

  .flux-editor-tooltip-triangle {
    position: absolute;
    bottom: -10px;
    left: 50% - 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #aaa transparent transparent transparent;
    z-index: 1;
  }
}

.flux-editor-tooltip-variant-default {
  border-radius: 15px;
  background-color: white;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 3px #aaa;
  padding-left: 10px;
  padding-right: 10px;

  .flux-editor-tooltip-item {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
  }
}

.flux-editor-tooltip-variant-editor {
  border-radius: 5px;
  background-color: white;
  border: 0px;
  box-shadow: 0px 0px 3px #aaa;
  padding-left: 5px;
  padding-right: 5px;

  .flux-editor-tooltip-item {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 10px 10px 10px;
  }

  .flux-editor-tooltip-separator {
    display: block;
    float: left;
    border: 1px solid #aaa;
    width: 1px;
    height: 18px;
    margin: 10px 10px 10px 10px;
  }

}
